#toi_div {
    background-color: rgba(255, 99, 71, 0.6);
    border: 1px solid tomato;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
     0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: none;
    font-style: italic; 
    padding: 10px;
    position: absolute;
    width: 20%;
}

#toi_btns_div {
    display: flex;
    justify-content: center;
}
